/* icons */{% for glyph in glyphs%}
@{{ className }}-{{ glyph.name }}: "\{{ glyph.unicode[0].codePointAt(0).toString(16) }}";{% endfor %}
{% for glyph in glyphs%}
.{{ className }}-{{ glyph.name }}::before {
  content: @{{ className }}-{{ glyph.name }};
}
{% endfor %}
